
# BEGIN BackUpWordPress
# Директивы (строки) между `BEGIN BackUpWordPress` и `END BackUpWordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=09838102e784509e72362a14e75dffc2
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress